:root {
    --pokedex-color: #fe0065;
    --off-white: #f8f8f8;
    --highlight: rgba(255, 255, 255, .8);
    --red: #ff0102;
    --yellow: #fecb65;
    --blue: #3298cb;
    --periwinkle: #7ca9f7;
    --green: #32ca64;
    --light-green: #98cb98;
    --mint-green: #3ab47d;
    --gray: #585858;
    --light-gray: #b8b8b8;
    --thin-border: 2px solid black;
    --normal-border: 3px solid black;
    --thick-border: 4px solid black;
}

* {
    font-family: 'Press Start 2P';
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.light-green {
    background-color: var(--light-green);
}

.mint-green {
    background-color: var(--mint-green);
}

.blue {
    background-color: var(--blue);
}

.periwinkle {
    background-color: var(--periwinkle);
}

.gray {
    background-color: var(--gray);
}

.white {
    background-color: white;
}

.pokedex {
    display: flex;
    height: 40rem;
    width: 50rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pokedex-left {
    width: 50%;
    height: 99.5%;
    border: var(--thick-border);
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fe0065;
    border-bottom-left-radius: 20px;
}

.top-buttons {
    display: flex;
}

.power-outer {
    background-color: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px black solid;
    border-radius: 60%;
    margin-top: .3rem;
    margin-left: .6rem;
}

.power-inner {
    width: 4.1rem;
    height: 4.1rem;
    border: 4px black solid;
    border-radius: 60%;
}

.power-highlight {
    position: relative;
    top: 10px;
    left: 14px;
    background-color: rgba(255, 255, 255, .6);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 60%;
}

.nav-buttons {
    display: flex;
    gap: .3rem;
    margin-top: 1.3rem;
    margin-left: 1.5rem;
}

.nav-button {
    height: 1.5rem;
    width: 1.5rem;
    border: var(--normal-border);
    border-radius: 60%;
}

.nav-highlight{
    background-color: var(--highlight);
    width: .45rem;
    height: .45rem;
    border-radius: 60%;
    position: relative;
    top: 4px;
    left: 5px
}

.left-svg {
    position: absolute;
    top: 2.5rem;
}

.interface {
    position: relative;
    width: 100%;
    height: 2rem;
    top: 1.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-screen-outer{
    margin-top: 2rem;
    height: 19rem;
    width: 19rem;
    border: var(--thick-border);
    border-bottom-left-radius: 15%;
    display: flex;
    flex-direction: column;
}

.top-screen-buttons, .main-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.top-screen-buttons{
    height: 1.5rem;
    gap: .5rem
}

.top-button {
    border: var(--thin-border);
    height: .7rem;
    width: .7rem;
    border-radius: 60%;
}

.screen {
    background-color: #98cb98;
    height: 14rem;
    width: 16rem;
    border: var(--normal-border);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-screen-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bottom-button {
    margin-top: .5rem;
    margin-left: 2rem;
    border: var(--thin-border);
    border-radius: 60%;
    height: 2rem;
    width: 2rem;
    position: relative;

}

.bottom-button-highlight {
    height: .5rem;
    width: .5rem;
    background-color: var(--highlight);
    border-radius: 60%;
    position: absolute;
    top: 6px;
    left: 7px;
}

.bottom-speaker {
    padding-top: .5rem;
    margin-right: 2rem;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.main-buttons {
    height: 13rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.start-select {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.thin-button {
    height: .3rem;
    width: 3rem;
    border: var(--normal-border);
    border-radius: 4px;
}

.square-thin-button {
    height: .3rem;
    width: 3rem;
    border: var(--normal-border);
}
.sticks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 12rem;
    gap: 1rem;
}

.round-stick {
    height: 3rem;
    width: 3rem;
    border: var(--normal-border);
    border-radius: 60%;
}

.sticks-left {
    height: 7rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left-tiny-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.rectangle-button {
    height: 3rem;
    width: 8rem;
    border: var(--normal-border);
    border-radius: 8px;
    font-size: .7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticks-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 6.5rem;
    width: 7rem;
}

.nav-direction {
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button-vertical {
    position: absolute;
    transform: rotate(90deg);
    background-color: var(--gray);
    border-radius: 5px;
    height: 18px;
    width: 77px;
    border: var(--normal-border);
}

.nav-button-horizontal {
    position: absolute;
    background-color: var(--gray);
    border-radius: 5px;
    height: 18px;
    width: 77px;
    border: var(--normal-border);
}

.nav-center-circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: solid black 2px;
    z-index: +2;
}

.border-top {
    border-top: 3.5px solid var(--gray);
    /* border-top: 3.5px solid pink; */
    position: absolute;
    top: -3px;
    left: 29.5px;
    right: 29.7px;
}

.border-bottom {
    border-top: 3.5px solid var(--gray);
    position: absolute;
    top: 18px;
    left: 29.5px;
    right: 29.5px;
  }

.bottom-right {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.med-button {
    height: 1rem;
    width: 1rem;
    border: var(--normal-border);
    border-radius: 60%;
    position: relative;
}

.med-button-highlight {
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    background-color: var(--highlight);
    height: .3rem;
    width: .3rem;
    border-radius: 60%;
}
.right-tiny-buttons {
    display: flex;
    gap: .4rem;
}
.tiny-button {
    border: var(--normal-border);
    border-radius: 60%;
    height: 0;
}

.pokedex-right {
    width: 50%;
    height: 100%;
    position: relative;    
    border-bottom: solid black 4px;
    border-bottom-right-radius: 20px;
    background-color: #fe0065;

}

.pokedex-right::before {
    content: '';
    position: absolute;
    left: -2px;
    bottom: 0;
    width: 100%;
    height: 32.7rem;
    border-right: solid black 4px;
    border-bottom-right-radius: 20px;
}

.secondary-screen {
    height: 7rem;
    width: 17rem;
    background-color: #313131;
    border-radius: 8px;
    border: var(--thick-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.guess-input {
    margin-top: 1rem;
    border: none;
    background-color: inherit;
    width: 92%;
    text-align: center;
    font-size: 1.3rem;
    height: 2rem;
    border-bottom: 1px solid var(--green);
    color: white;
}

.guess-input:focus-visible {
    outline: none;
}
::placeholder {
    color: var(--light-green);
    opacity: .7;
}
.guess-enter {
    height: 4rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    margin: 0;
    padding: 0;
}

.guess-enter:hover {
    cursor: pointer;
}
.gen-buttons {
    margin-top: .1rem;
    display: grid;
    grid-template-columns: repeat(5, 3.5rem);
    grid-template-rows: repeat(2, 3.5rem);
}

.square-button {
    width: 3.5rem;
    height: 3.5rem;
    border: var(--thin-border);
    border-radius: 4px;   
}

.square-button:hover {
    cursor: pointer;
}

.right-thin-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 90%;
    margin-top: .3rem;
}

.right-middle-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.large-round-button {
    position: relative;
    height: 3rem;
    width: 3rem;
    border-radius: 60%;
    border: var(--normal-border);
}

.large-round-button-highlight {
    height: .8rem;
    width: .8rem;
    border-radius: 60%;
    background-color: var(--highlight);
    position: absolute;
    top: .4rem;
    left: .6rem;
}

.stacked-circles, .stacked-squares {
    display: flex;
}

.stacked-circles{
    gap: .75rem;
    margin: 1.5rem 0 1rem 0
}

.stacked-squares {
    gap: .1rem;
}

.white-square {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 5px;
    border: var(--normal-border);
    box-shadow: inset -3px -3px gray;

}
.right-bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.pressed {
    background-color: #90dfff;
    font-weight: bold;
    border: 3px inset white;
    
}

.gen-title {
    margin-top: .5rem;
    font-size: 1rem;
}

.rules-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1.2rem;
}